<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/navbar.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item nav-header">
               <a href="/">GG</a> 
            </li>
            <li class="nav-item">
                <a href="#" class="search">search</a>
                <div class="search-drop-container">
                    <form name="search" action="/search" method="get">
                    <input  name="search" type="search" class="search-bar" placeholder=" Search gizmogroove.com" autofocus>
                    <input type="submit" class="nav-sub">
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="support">support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="account">myGizmo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" class="cart-action" href="#"><svg class="action"fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 902.86 902.86" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="21.66864"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M671.504,577.829l110.485-432.609H902.86v-68H729.174L703.128,179.2L0,178.697l74.753,399.129h596.751V577.829z M685.766,247.188l-67.077,262.64H131.199L81.928,246.756L685.766,247.188z"></path> <path d="M578.418,825.641c59.961,0,108.743-48.783,108.743-108.744s-48.782-108.742-108.743-108.742H168.717 c-59.961,0-108.744,48.781-108.744,108.742s48.782,108.744,108.744,108.744c59.962,0,108.743-48.783,108.743-108.744 c0-14.4-2.821-28.152-7.927-40.742h208.069c-5.107,12.59-7.928,26.342-7.928,40.742 C469.675,776.858,518.457,825.641,578.418,825.641z M209.46,716.897c0,22.467-18.277,40.744-40.743,40.744 c-22.466,0-40.744-18.277-40.744-40.744c0-22.465,18.277-40.742,40.744-40.742C191.183,676.155,209.46,694.432,209.46,716.897z M619.162,716.897c0,22.467-18.277,40.744-40.743,40.744s-40.743-18.277-40.743-40.744c0-22.465,18.277-40.742,40.743-40.742 S619.162,694.432,619.162,716.897z"></path> </g> </g> </g></svg></a>
                <div class="no-in-cart" <% if (num==0){%> style="display:none" <%}%>>
                    <%= num%>
                </div>
                <div class="c11" hidden="true" >
                    <div class="details-card1">
                        <div class="current-orders1">
                            <div class="card-header1">Currrent Orders     
                            <button class="close1" name="close">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
                                    <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8.53333,8.53333)"><path d="M7,4c-0.25587,0 -0.51203,0.09747 -0.70703,0.29297l-2,2c-0.391,0.391 -0.391,1.02406 0,1.41406l7.29297,7.29297l-7.29297,7.29297c-0.391,0.391 -0.391,1.02406 0,1.41406l2,2c0.391,0.391 1.02406,0.391 1.41406,0l7.29297,-7.29297l7.29297,7.29297c0.39,0.391 1.02406,0.391 1.41406,0l2,-2c0.391,-0.391 0.391,-1.02406 0,-1.41406l-7.29297,-7.29297l7.29297,-7.29297c0.391,-0.39 0.391,-1.02406 0,-1.41406l-2,-2c-0.391,-0.391 -1.02406,-0.391 -1.41406,0l-7.29297,7.29297l-7.29297,-7.29297c-0.1955,-0.1955 -0.45116,-0.29297 -0.70703,-0.29297z"></path></g></g>
                                </svg>
                            </button></div>
                            <div class="order-detail1">
                                <div class="order1">
                                    <span>text</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="order-history1">
                            <div class="card-header1">Cart</div>
                            <div class="order-detail1">
                                <div class="order1">
            
                                </div>
                            </div>
                            <div class="checkout">
                                <form method="put" class="checkout-form" action="/buy">
                                    <input type="submit" class="checkout" value="checkout">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    
    $(document).ready(function(){
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            var maxScroll = $(document).height() - $(window).height();
            var rotation = (scroll / maxScroll) * 360;
    
            rotation = rotation > 360 ? 360 : rotation;
    
            $(".nav-header").css({
                transform: "rotate(" + rotation + "deg)"
            });
        });
    
        $(".search").on("click", function(){
            $(".search-drop-container").addClass("search-transition");
        });
    
        $(".nav-sub").on("click",function(){
            console.log($("input[name='ssearch']").val());
        });
    
        // Exclude .search-drop-container from mouseleave event
        $(".navbar").on("mouseleave", function() {
            $(".search-drop-container").removeClass("search-transition");
        });



   
        

        $(".action").on("click", function() {
        $("main").addClass("blur");
        $(".c11").addClass("visible"); 
        $(".c11").attr("hidden", false);

    });

    $(".close1").on("click", function() {
        $("main").removeClass("blur");
        $(".c11").removeClass("visible");
        $(".c11").attr("hidden", true);


    });

    
    });
    </script>
    

</html>
